<footer class="site-footer">
  <div class="container footer-grid">
    <div class="footer-brand">
      <img
        class="footer-logo"
        src="/assets/img/logo-light-320.webp"
        srcset="
          /assets/img/logo-light-320.webp 320w,
          /assets/img/logo-light-640.webp 640w
        "
        sizes="160px"
        loading="lazy"
        alt="ASC Freudenstadt Logo"
        width="5000"
        height="3750"
      />
      <p>Armbrust-Sport-Club Freudenstadt e.V.<br /></p>
    </div>
    <div>
      <h3>Navigation</h3>
      <a href="#main-content">Zum Seitenanfang</a>
      <button class="text-button" data-print type="button" hidden>Seite drucken / als PDF speichern</button>
      <a href="/suche.html">Website durchsuchen</a>
      <a href="/ueber-uns.html">Über uns</a>
      <a href="/events_sportbetrieb.html">Events &amp; Sportbetrieb</a>
      <a href="/mitglied-werden.html">Mitglied werden</a>
      <a href="/spende">Spenden</a>
      <a href="/kontakt.html">Kontakt &amp; Anfahrt</a>
    </div>
    <div>
      <h3>Vereinsanschrift</h3>
      <p>Gerhart-Hauptmann-Weg 8<br />72250 Freudenstadt</p>
      <a href="mailto:info@asc-fds.de">info@asc-fds.de</a>
    </div>
    <div>
      <h3>Rechtliches</h3>
      <a href="/impressum.html">Impressum</a>
      <a href="/datenschutz.html">Datenschutz</a>
    </div>
  </div>
  <div class="container footer-bottom">
    <p>© <span data-current-year></span> ASC Freudenstadt e.V.</p>
  </div>
</footer>
